
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Inter' sans-serif;
    background-color: #f8f9fa;
    color: #1e293b;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
    font-family: inherit;
}

/*  CONTAINER SYSTEM */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* NAVBAR */
header{
    background: #ffffff;
    padding: 20px 0;
    box-shadow: 0 2px 8px rgba (0,0,0,0.05);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color: #0f172a;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a{
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover{
    color: #d4a017;
}

.cart a{
    font-weight: 600;
}

/* HERO SECTION */
.hero{
    padding: 80px 0;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.hero-text h2{
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-text p{
    margin-bottom: 20px;
    color: #64748b;
}

.hero-text button{
    background: #d4a017;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.hero-text button:hover{
    background: #b68a14
}

/* FEATURED BOOKS */
.featured-books{
    padding: 80px 0;
}

.featured-books h2{
    margin-bottom: 40px;
    font-size: 32px;
}

.books-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* BOOK CARD */
.book-card{
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.book-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.book-card img{
    border-radius: 8px;
    margin-bottom: 15px;
    height: 350px;
}

.book-card h3{
    font-size: 18px;
    margin-bottom: 5px;
}

.book-card .author{
    font-size: 14px;
    color: #64748b;
    margin-bottom: 10px;;
}

.book-card .price{
    font-weight: bold;
    margin-bottom: 15px;
}

.book-card button{
    width: 100%;
    background: #0f172a;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.book-card button:hover{
    background: #d4a017;
}

/* CATEGORIES */
.categories{
    padding: 80px 0;
    background: #ffffff;
}

.categories h2{
    margin-bottom: 40px;
}

.categories-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.category-card{
    background: #f1f5f9;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.category-card:hover{
    background: #d4a017;
    color: #fff;
}

/* NEWSLETTER */
.newsletter{
    padding: 80px 0;
    background: #0f1272a;
    color:  #0f172a;
    text-align: center;
}

.newsletter input{
    padding: 12px;
    width: 300px;
    border-radius: 8px;
    border: none;
    margin-right: 10px;
}

.newsletter button{
    padding: 12px 20px;
    background: #d4a017;
    color: #fff;
    border-radius: 8px;
}

/* FOOTER */
footer{
    background: #0f172a;
    color: #cbd5e1;
    padding: 60px 0 20px 0;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.footer-colum h3{
    margin-bottom: 15px;
}

.footer-bottom{
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    color: #94a3b8;
}